<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #formcontainer{
                background: url(https://c4.wallpaperflare.com/wallpaper/433/452/1009/aces-cards-digital-art-black-background-wallpaper-preview.jpg);
                width: 1000px;
                height: 500px;
                background-repeat: no-repeat;
                display: flex;
                justify-content: center;
                flex-direction: column;
        }
        form{
            margin: auto;
        }
    </style>
</head>
<body>
    <header>
        <h1>TARO CARD READING</h1>
    </header>
    <div id="formcontainer">
        <form action="/action.php">
        <input type ="text" placeholder="Enter your name">
        <br>
            Date of Birth: <br> <input type="date" name="" value="">
            <br>
            <input type ="Submit" value ="Submit">
        </form>
        

    </div>
</body>
</html>