* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  overflow: hidden;
  background-image: url("Download\ premium\ psd\ _\ image\ of\ Celestial\ icons\ psd\ desktop\ background\ on\ black\ by\ audi\ about\ magic\,\ magic\ frame\,\ mystic\,\ astrology\,\ and\ gold\ frame\ graphics\ 2866691.jpg");
  background-size: cover;
  display: flex;
  font-family: Helvetica, sans-serif;
  justify-content: center;
  color: rgb(211, 211, 211);
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  margin-top: 200px;
  width: 350px;
  height: 600px;
  perspective: 800px;
  margin-left: 100px;
}
.card {
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 1500000ms;
  transform-style: preserve-3d;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card input[type="radio"] {
  display: none;
}

.card input[type="radio"]:checked + .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  box-shadow: 0 0 5px 2px rgba(232, 232, 232, 0.969);
  position: absolute;
  backface-visibility: hidden;
}

.card-back {
  transform: rotateY(180deg);
}

.flip-button {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

h2{
  margin-top: 100px;
  text-align: center;
  color: #fff;
}


.card-front{
  background-image: url(tarotcard.png);
  background-size: cover;

}

.in{
    margin-top: 700px;
    width: 350px;
    height: 600px;
    perspective: 800px;
    margin-left: 100px;
    font-size: large;
  }
  
  input[type="text"],
  input[type="date"] {
      width: 93%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 3px;
  }